{% extends "pages/base.html" %}
{% load staticfiles %}

{% block title %} Home {% endblock %}

{% block content %}

    {% for post in Posts %}

        <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal{{ post.pk }}">
                <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fa fa-plus fa-3x"></i>
                    </div>
                </div>
                <img class="img-fluid" src="{% static 'img/portfolio/' %}0{{ post.pk }}-thumbnail.jpg" alt="">

            </a>
            <div class="portfolio-caption">
                <h4>{{ post.title }}</h4>
                <p class="text-muted">{{ post.category }}</p>
            </div>
        </div>

    {% endfor %}
{% endblock %}

{% block content_detail %}
    {% for post in Posts %}

        <!-- Modal 1 -->
        <div class="portfolio-modal modal fade" id="portfolioModal{{ post.pk }}" tabindex="-1" role="dialog"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="close-modal" data-dismiss="modal">
                        <div class="lr">
                            <div class="rl"></div>
                        </div>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 mx-auto">
                                <div class="modal-body">
                                    <!-- Project Details Go Here -->
                                    <h2 class="text-uppercase">{{ post.title }}</h2>
                                    <p class="item-intro text-muted">{{ post.category }}</p>
                                    <img class="img-fluid d-block mx-auto"
                                         src="{% static "img/portfolio/" %}0{{ post.pk }}-full.jpg"
                                         alt="">
                                    <p>{{ post.content }}</p>
                                    <ul class="list-inline">
                                        <li>Created Date: {{ post.created_date }}</li>
                                        <li>Updated Date: {{ post.updated_date }}</li>
                                        <li>Writer: Sakura Chan</li>
                                        <li>Category: {{ post.category }}</li>
                                    </ul>
                                    <button class="btn btn-primary" data-dismiss="modal" type="button">
                                        <i class="fa fa-times"></i>
                                        Close
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

{% endblock %}

